:root {
    font-size: 62.5%;
    --primary-color: #783df0;
    --secondary-color: #b80257;
}
body {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    color: #222;
    box-sizing: border-box;
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    margin-bottom: 1rem;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: all 0.35s;
}

a:hover {
    text-decoration: underline;
}
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 2px;
}
.btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 120px;
    color: #fff;
    background-color: #000;
    outline: none;
    border: none;
}
.btn--submit {
    width: 140px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 2px;
    padding: 8px 12px;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    transition: all 0.6s;
}
.btn--submit:hover {
    background-color: var(--secondary-color);
    transform: scale(1.02);
    box-shadow: 0 4px 18px rgba(120, 61, 240, 0.15);
    transition: cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Header */
.header {
    height: 500px;
    width: 100%;
    background: url(../img/banner_header.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.header__overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
nav {
    padding-top: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.menu {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu__item {
    position: relative;
    cursor: pointer;
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 500;
    text-transform: uppercase;
}
.menu__item::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: transparent;
}
.menu__item:hover > .submenu {
    opacity: 1;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 140px;
    transform: scale(1);
}
.submenu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 30px;
    left: -30px;
    width: 180px;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
    border-radius: 2px;
    padding: 16px 2px;
    transform: scale(1, 0);
    transform-origin: left top;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.submenu + .submenu {
    top: 100px;
    left: -100px;
}

.submenu__item {
    width: 100%;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submenu__item + .submenu__item {
    padding-top: 10px;
    border-top: 1px solid #ccc;
}
.submenu__item:hover > .submenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    min-height: 140px;
    width: 180px;
    top: 0;
    left: 150px;
}
.actions {
    gap: 30px;
}
.action__link {
    color: #fff;
}
.breadcrumb {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.breadcrumb h1 {
    font-size: 3.2rem;
    font-weight: 600;
    cursor: default;
    color: #fff;
    text-transform: uppercase;
}
.breadcrumb__timeline {
    color: #ccc;
    margin-top: 18px;
    display: flex;
    align-items: center;
}
.breadcrumb__link {
    font-weight: 300;
    color: #ccc;
}
.breadcrumb__link:hover {
    color: var(--primary-color);
}
/* Main */
.main__top {
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    gap: 30px;
}
.left {
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
}
.right {
    height: 100%;
    width: 500px;
    background: url(../img/main__right.jpg) no-repeat;
    background-position: center;
    border-radius: 6px;
    overflow: hidden;
}
.right__overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(119, 60, 238, 0.85);
}
.left__img {
    height: 100%;
    display: block;
    max-width: 100%;
    object-fit: cover;
}
.right__wrapper {
    padding: 50px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
}
.right h2 {
    margin-top: 50px;
    position: relative;
    color: #fff;
    font-size: 2.8rem;
    text-transform: uppercase;
}
.right h2::after {
    position: absolute;
    content: "";
    display: block;
    bottom: -10px;
    left: 0;
    width: 100px;
    height: 2px;
    background-color: #f2b604;
}
.right__wrapper ul {
    margin-top: 50px;
}
.right__wrapper ul li {
    display: flex;
    align-items: baseline;
    flex: wrap;
    gap: 30px;
    font-size: 2.6rem;
    line-height: 1.6;
}
.right__wrapper li + li {
    margin-top: 30px;
}
.right__wrapper ul li span {
    word-wrap: break-word;
}
/* Main Bottom */
.main__bottom {
    padding: 50px 0;
}
.form {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.form__group {
    flex: 1 0 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.form__input {
    flex: 1;
    height: 28px;
    padding: 12px 24px;
    transition: all 0.35s;
    background-color: #f3f0fa;
    border: none;
}
.form__input:focus {
    outline: 1.5px solid var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.form__input:focus::-webkit-input-placeholder {
    color: transparent;
}
.form__input:focus:-moz-placeholder {
    color: transparent;
}
.form__input:focus::-moz-placeholder {
    color: transparent;
}
.form__input:focus:-ms-input-placeholder {
    color: transparent;
}
.form__input:focus::placeholder {
    color: transparent;
}
.form__group textarea {
    min-height: 300px;
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: inherit;
    font-weight: inherit;
}
/* Footer */
.footer {
    display: flex;
    margin-top: 100px;
    padding: 100px 0 50px;
    align-items: center;
    gap: 40px;
    background-color: #000;
}
.footer__list {
    display: flex;
    align-items: center;
    gap: 30px;
}
.footer__item {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 10px;
}
.footer__item:first-child,
.footer__item:last-child {
    flex: 2;
}
.footer__item h3 {
    font-weight: 600;
    font-size: 2rem;
    color: #fff;
}
.footer__item ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer__desc {
    margin: 20px 0;
    font-size: 1.5rem;
    line-height: 1.6;
}
.footer__desc,
.footer__copyright,
.footer__item ul li a {
    color: rgba(255, 255, 255, 0.6);
}
.footer__platforms {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn--footer {
    margin-top: 20px;
    position: relative;
    color: #fff;
    background-color: var(--secondary-color);
    height: 42px;
    width: 100px;
    border-radius: 12px;
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}
.btn--footer:hover {
    background-color: rgba(255, 255, 255);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    text-decoration: none;
}
.footer__input {
    height: 38px;
    width: 80%;
    border-radius: 18px;
    padding: 4px 18px;
    color: rgba(255, 255, 255, 0.6);
    background: #272727;
    outline: none;
    border: none;
}
.footer__inputL:focus {
    outline: none;
    border: none;
}
