* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.table {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
.table {
    border: 1px solid #000;
}
.table th {
    background-color: #f2f2f2;
}
.table th,
.table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}
th div + div {
    margin-top: 16px;
}
th p {
    margin: 10px 0;
}
strong {
    font-weight: 600;
}
.avatar {
    width: 48px;
    height: 48px;
    display: inline-block;
    border-radius: 50%;
}
.status {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 600;
    color: white;
    display: inline-block;
}

.status.active {
    color: #10b981;
    background-color: rgba(0, 128, 0, 0.1);
}

.status.notfound {
    color: rgb(243, 156, 6);
    background-color: rgba(243, 203, 6, 0.2);
}
